* {
  color: #eeeeee;
}
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4;
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > a {
    margin: 4px;
  }
}

img {
  width: 110px;
  height: 100px;
  border-radius: 5%;
}

input[type='text'] {
  display: initial;
  padding: 15px;
  color: black;
}

input[type='number'] {
  color: black;
  width: 100%;
  align-items: center;
}

button {
  color: black;
}
