*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #0a0a0a;
  line-height: 1.4;
}
nav {
  width: 100vw;
  height: 4rem;
  background: #f6f9fc;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > a {
    margin: 4px;
  }
}

a {
  color: #000;
}
img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

header {
  background-color: #f6f9fc;
}

input[type='text'] {
  display: initial;
  padding: 15px;
}
