* {
  margin: 20;
  padding: 20;
}

body {
  background-color: teal;
}

nav {
  width: 100vw;
  height: 4rem;
  background: tan;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > a {
    margin: 4px;
  }
}
